* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: lato;
  src: url(../font/Lato/Lato-Regular.ttf);
}
body {
  width: 100%;
  height: 100vh;
  background-color: #1b1a33;
}
body main {
  grid-area: main;
}

#grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 72px auto 160px;
  grid-gap: 20px;
  display: grid;
  grid-template-areas: "header header header header header header header header header header header header" "main main main main main main main main main main main main" "footer footer footer footer footer footer footer footer footer footer footer footer";
}

@media (max-width: 576px) {
  #grid-container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 40px auto 76px;
    column-gap: 8px;
    grid-template-areas: "header header header header" "main main main main" "footer footer footer footer";
  }
}
@media (min-width: 580px) and (max-width: 768px) {
  #grid-container {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 40px auto 76px;
    column-gap: 16px;
    grid-template-areas: "header header header header header header header header" "main main main main main main main main" "footer footer footer footer footer footer footer footer";
  }
}
h1 {
  color: #DD357D;
  text-align: center;
  font-family: Oswald;
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  flex-direction: row;
  flex-shrink: 0;
}
@media (max-width: 576px) {
  h1 {
    padding-top: 24px;
    font-size: 24px;
  }
}
@media (min-width: 580px) and (max-width: 768px) {
  h1 {
    font-size: 72px;
  }
}

h2 {
  color: #DC347C;
  padding: 2rem;
  text-align: center;
  font-family: Oswald;
  font-size: 4rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
@media (max-width: 576px) {
  h2 {
    padding: 0.5rem;
    font-size: 20px;
  }
}
@media (min-width: 580px) and (max-width: 768px) {
  h2 {
    font-size: 2rem;
  }
}

h3 {
  color: #219CF9;
  font-family: Oswald;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
@media (max-width: 576px) {
  h3 {
    font-size: 1rem;
  }
}
@media (min-width: 580px) and (max-width: 768px) {
  h3 {
    font-size: 2rem;
  }
}

p {
  color: #219CF9;
  font-family: Lato;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
@media (max-width: 576px) {
  p {
    font-size: 12px;
  }
}

img {
  display: flex;
  flex-direction: row;
}

ul {
  color: white;
  font-family: lato;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
@media (max-width: 576px) {
  ul {
    font-size: 12px;
  }
}
@media (min-width: 580px) and (max-width: 768px) {
  ul {
    font-size: 1rem;
  }
}

header {
  width: 100%;
  grid-area: header;
}
header .navbar {
  background-color: #CE4656 !important;
}

footer {
  grid-area: footer;
  background-color: #000;
  padding: 2rem;
}
footer #rights {
  color: #FFF;
  text-align: center;
  font-family: "Lato";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 576px) {
  footer footer {
    grid-area: footer;
    padding: 1rem;
  }
}

.indexbody {
  background-image: url(../images/bgbanner.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
@media (max-width: 576px) {
  .indexbody {
    background-size: 600px;
    background-position-x: center;
    background-position-y: 56px;
  }
}
@media (min-width: 580px) and (max-width: 768px) {
  .indexbody {
    background-size: 1000px;
    background-position-x: center;
    background-position-y: 34px;
  }
}

.tittle {
  display: flex;
  width: 100% px;
  height: 250px;
  padding: 130px 70px 0 70px;
}

.social-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 100px;
}
@media (max-width: 576px) {
  .social-links {
    margin: 10px;
  }
}
@media (min-width: 580px) and (max-width: 768px) {
  .social-links {
    margin: 45px;
  }
}
.social-links a {
  width: 80px;
  height: 80px;
  text-align: center;
  text-decoration: none;
  color: #219CF9;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.05);
  margin: 0 30px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}
.social-links a .fa-brands {
  font-size: 30px;
  line-height: 80px;
  position: relative;
  z-index: 10;
  transition: color 0.5s;
}
.social-links a::after {
  content: "";
  width: 100%;
  height: 100%;
  top: -90px;
  left: 0;
  background: linear-gradient(-45deg, #DD357D, #CE4656);
  position: absolute;
  transition: 0.5s;
}
.social-links a:hover::after {
  top: 0;
}
.social-links a:hover .fa-brands {
  color: white;
}

.resume {
  display: flex;
  margin: 80px 0px;
  padding: 0 120px;
  border: 0;
  width: 100%;
  height: 490px;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 576px) {
  .resume {
    margin: 16px 0px;
    padding: 0 20px;
    width: 100%;
    height: 137px;
  }
}
@media (min-width: 580px) and (max-width: 768px) {
  .resume {
    margin: 80px 0;
    height: 280px;
  }
}
.resume .container-resume1 {
  order: 1;
  width: 470px;
}
@media (max-width: 576px) {
  .resume .container-resume1 {
    width: 142px;
    height: auto;
  }
}
@media (min-width: 580px) and (max-width: 768px) {
  .resume .container-resume1 {
    width: 280px;
    height: auto;
  }
}
.resume .container-resume1 .paragraph {
  order: 1;
  width: 470px;
}
@media (max-width: 576px) {
  .resume .container-resume1 .paragraph {
    width: 142px;
    height: auto;
  }
}
@media (min-width: 580px) and (max-width: 768px) {
  .resume .container-resume1 .paragraph {
    width: 280px;
    height: auto;
    font-size: 1rem;
  }
}
.resume .container-resume2 {
  order: 2;
  width: 470px;
}
@media (max-width: 576px) {
  .resume .container-resume2 {
    width: 142px;
    height: auto;
  }
}
@media (min-width: 580px) and (max-width: 768px) {
  .resume .container-resume2 {
    width: 280px;
    height: auto;
  }
}
.resume .container-resume2 img {
  order: 2;
  width: 470px;
}
@media (max-width: 576px) {
  .resume .container-resume2 img {
    width: 142px;
    height: auto;
  }
}
@media (min-width: 580px) and (max-width: 768px) {
  .resume .container-resume2 img {
    width: 280px;
    height: auto;
  }
}

.academic {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  padding: 120px;
}
@media (max-width: 576px) {
  .academic {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 6px;
  }
}
@media (min-width: 580px) and (max-width: 768px) {
  .academic {
    padding: 30px 98px;
  }
}
.academic .container-formation {
  display: flex;
  background-color: #024269;
  width: 470px;
  height: 330px;
  border-radius: 8px;
  padding: 20px;
}
@media (max-width: 576px) {
  .academic .container-formation {
    width: 172px;
    height: 148px;
    border-radius: 6px;
    padding: 8px;
    margin: 10px;
  }
}
@media (min-width: 580px) and (max-width: 768px) {
  .academic .container-formation {
    width: 278px;
    height: 200px;
  }
}

.skills {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  margin-top: 72px;
  flex-direction: column;
}
@media (max-width: 576px) {
  .skills {
    margin-top: 48px;
  }
}
.skills .sectB__banner {
  justify-content: space-evenly;
  align-content: center;
  background-color: #024269;
  width: 100%;
  height: 192px;
  padding: 50px 240px;
}
@media (max-width: 576px) {
  .skills .sectB__banner {
    width: 320px;
    height: 81px;
    flex-wrap: wrap;
    padding: 25px;
  }
}
@media (min-width: 580px) and (max-width: 768px) {
  .skills .sectB__banner {
    padding: 50px 30px;
  }
}
.skills .sectB__banner #skillsIcons {
  width: 972px;
  height: 90px;
}
@media (max-width: 576px) {
  .skills .sectB__banner #skillsIcons {
    width: 260px;
    height: 25px;
    padding: 0;
  }
}
@media (min-width: 580px) and (max-width: 768px) {
  .skills .sectB__banner #skillsIcons {
    width: 720px;
    height: 72px;
  }
}

.interest {
  display: flex;
  margin: 80 0 80 0px;
  justify-content: center;
}
.interest .hobbies {
  background-color: #024269;
  height: 320px;
  width: 600px;
  border-radius: 8px;
  padding: 20px;
  margin: 72px;
}
@media (max-width: 576px) {
  .interest .hobbies {
    height: 130px;
    width: 150px;
    border-radius: 6px;
    padding: 8px;
    margin: 20px;
  }
}
@media (min-width: 580px) and (max-width: 768px) {
  .interest .hobbies {
    height: 240px;
    width: 372px;
  }
}

.video .video__link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 60px;
}

.sectA__1__subtitle {
  width: 530px;
  height: fit-content;
}

.sectA__1__paragraph {
  width: 530px;
  height: 390px;
}

.expla {
  font-size: 24px;
  height: 490px;
  width: 420px;
}

.artw {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 70px 0;
}
@media (max-width: 576px) {
  .artw {
    flex-direction: column;
    padding: 10px;
  }
}
@media (min-width: 580px) and (max-width: 768px) {
  .artw {
    flex-direction: column;
  }
}
.artw .works {
  display: flex;
  padding: 10px;
}
@media (max-width: 576px) {
  .artw .works {
    display: flex;
    margin-bottom: 0.5rem;
    height: auto;
    width: auto;
  }
}
@media (min-width: 580px) and (max-width: 768px) {
  .artw .works {
    width: 50%;
    margin: auto;
  }
}

.uxuiproyect {
  display: flex;
  padding: 48px 70px;
  justify-content: space-around;
}
@media (max-width: 576px) {
  .uxuiproyect {
    flex-direction: column;
    padding: 20px;
    flex-wrap: wrap;
    align-content: center;
  }
}
.uxuiproyect .container-uxuiproject {
  display: flex;
}
@media (max-width: 576px) {
  .uxuiproyect .container-uxuiproject {
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
  }
}
@media (min-width: 580px) and (max-width: 768px) {
  .uxuiproyect .container-uxuiproject {
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
  }
}
.uxuiproyect .paragraph2 {
  display: flex;
  width: 490px;
  font-size: 2rem;
}
@media (max-width: 576px) {
  .uxuiproyect .paragraph2 {
    width: 280px;
    height: auto;
    font-size: 1rem;
  }
}
@media (min-width: 580px) and (max-width: 768px) {
  .uxuiproyect .paragraph2 {
    width: 260px;
    height: 300px;
    font-size: 1rem;
    margin-right: 20px;
  }
}
.uxuiproyect .uxuicapture {
  width: 750px;
  height: 489px;
}
@media (max-width: 576px) {
  .uxuiproyect .uxuicapture {
    width: 280px;
    height: auto;
  }
}
@media (min-width: 580px) and (max-width: 768px) {
  .uxuiproyect .uxuicapture {
    width: 460px;
    height: 300px;
  }
}

.uxuipro2 {
  display: flex;
  padding: 48px 70px;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 576px) {
  .uxuipro2 {
    flex-direction: column;
    padding: 20px;
  }
}

.container-uxuipro2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
@media (max-width: 576px) {
  .container-uxuipro2 {
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
  }
}
@media (min-width: 580px) and (max-width: 768px) {
  .container-uxuipro2 {
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
  }
}

.paragraph3 {
  display: flex;
  width: 490px;
  font-size: 2rem;
}
@media (max-width: 576px) {
  .paragraph3 {
    width: 280px;
    height: auto;
    font-size: 1rem;
  }
}
@media (min-width: 580px) and (max-width: 768px) {
  .paragraph3 {
    width: 260px;
    height: 300px;
    font-size: 1rem;
    margin-right: 20px;
  }
}

.uxuicap2 {
  width: 750px;
  height: 489px;
}
@media (max-width: 576px) {
  .uxuicap2 {
    width: 280px;
    height: auto;
  }
}
@media (min-width: 580px) and (max-width: 768px) {
  .uxuicap2 {
    width: 460px;
    height: 300px;
  }
}

.sectBig {
  width: 100%;
  justify-items: center;
}
.sectBig .about {
  display: flex;
  height: 620;
  width: 83%;
  background-color: #01426A;
  border-radius: 8px;
  padding: 2rem;
  margin: 124px;
}
@media (max-width: 576px) {
  .sectBig .about {
    padding: 1rem;
    margin: 25px;
    height: 360px;
  }
}
@media (min-width: 580px) and (max-width: 768px) {
  .sectBig .about {
    margin: 100px;
    width: 74%;
    height: 680px;
  }
}
@media (min-width: 580px) and (max-width: 768px) {
  .sectBig .about .description {
    font-size: 2rem;
  }
}

.contactme .contact-description {
  text-align: center;
}
.contactme .formulary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 48px 0;
}
.contactme .formulary .contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contactme .formulary .contact-form label {
  display: flex;
  color: #DD357D;
  font-size: 2rem;
  font-family: "Lato";
}
@media (max-width: 576px) {
  .contactme .formulary .contact-form label {
    font-size: 1rem;
  }
}
@media (min-width: 580px) and (max-width: 768px) {
  .contactme .formulary .contact-form label {
    font-size: 1rem;
  }
}
.contactme .formulary .contact-form input {
  border-radius: 0.5rem;
  display: flex;
  margin: 20px;
  width: 1198px;
  padding: 1rem;
  height: 32px;
}
@media (max-width: 576px) {
  .contactme .formulary .contact-form input {
    width: 300px;
    margin: 10px;
  }
}
@media (min-width: 580px) and (max-width: 768px) {
  .contactme .formulary .contact-form input {
    width: 640px;
    margin: 10px;
  }
}
.contactme .formulary .contact-form textarea {
  border-radius: 0.5rem;
  display: flex;
  padding: 1rem;
  width: 1198px;
  height: 420px;
  margin-bottom: 30px;
}
@media (max-width: 576px) {
  .contactme .formulary .contact-form textarea {
    width: 300px;
  }
}
@media (min-width: 580px) and (max-width: 768px) {
  .contactme .formulary .contact-form textarea {
    width: 640px;
  }
}
.contactme .formulary .contact-form .button-primary {
  display: flex;
  color: white;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  margin: auto;
  border-radius: 8px;
  width: 228px;
  font-family: "Lato";
  font-weight: bold;
  background-color: #DD357D;
}

/*# sourceMappingURL=main.css.map */
