  
@font-face{
    font-family: lato;
    src: url(../font/Lato/Lato-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 90px);
    margin: 0 70px 0 70px;
    grid-column-gap: 20px;
    grid-template-rows: 72px auto 160px;
    grid-template-areas:
    "header header header header header header header header header header header header"
    "main main main main main main main main main main main main"
    "footer footer footer footer footer footer footer footer footer footer footer footer"        
    ;
    background-color: #1b1a33;
}

header{
    width: 100%;
    grid-area: header;

}

main{
    padding-top: 72px;
    padding-bottom: 94px;
    grid-area: main;
}


nav{
    grid-area: nav;
    padding: 0;
    height: 72px;
    width: auto;   
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;    
}

.navbar{
    background-color: #CE4656 !important; 
}

footer{
    width: auto;
    grid-area: footer;
    background-color: #000;
    margin: 0;
    padding: 2rem;     
}

h1{
    color: #DD357D;
    text-align: center;
    font-family: Oswald;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;    
    flex-direction: row;
    flex-shrink: 0;   
}

@media (max-width: 576px){
    h1{
        padding-top: 24px;
        font-size: 24px;  
    }    
}

h2{
    color: #DC347C;
    padding: 2rem;
    text-align: center;
    font-family: Oswald;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

@media (max-width: 576px){
    h2{
        padding: 0.5rem;
        font-size: 20px;
    }
}

h3{
    color: #219CF9;
    font-family: Oswald;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

@media (max-width: 576px){
    h3{
        font-size: 16px;  
    }    
}

p{
    color: #219CF9;
    font-family: Lato;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

@media (max-width: 576px){
    p{
        font-size: 12px;  
    }    
}

.tb{
    list-style-type: none;
    margin: 0;        
    overflow: hidden;
    background: #DC347C;
    padding: 0 70px 0 70px;    
}

.tb__Links{
    float: left;
    padding: 0px;
}

.tb__Links a{
    display: block;
    color: white;
    text-align: center;
    padding: 22px;
    text-decoration: none;
}

.tb__Links a:hover{
    background-color: #219CF9;
}

.tittle{
    display: flex;
    width: 100%px;
    height: 250px;
    padding: 130px 70px 0 70px;
}

.sectA{
    display: flex;
    margin: 160px 0px 160px 0px;
    border: 0;
    width: 100%;
    height: 490px;
    justify-content: space-between;
    align-items: center;
          
}

@media (max-width: 576px){
    .sectA{
        margin: 16px 0px 16px 0px;
        border: 0;
        width: 100%;
        height: 137px;             
    }
}

.sectA__1{
    order: 1;
}

.sectA__2{
    order: 2;
}

.sect__1__subtitle{
    width: 530px;
    height: fit-content;
}

@media (max-width: 576px){
    .sectA__1__subtitle{    
        width: 150px;
    }

}

.sectA__1__paragraph{    
    width: 530px;
    height: 390px;
}

@media (max-width: 576px){
    .sectA__1__paragraph{    
        width: 150px;
        height: auto;
    }

}


.expla{
    font-size: 24px;
    height: 490px;
    width: 470px;
}

@media (max-width: 576px){
    .expla{
        font-size: 12px;
        height: 276px;
        width: 150px;
    }
}

#rights{
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 55px 80px;
}

@media (max-width: 576px){
    #rights{
        padding: 25px 0 40px 0;
    }    
}

form{
    width: auto;
}

ul{
    color: white;
    font-family: lato;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;    
}

.artw{
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
}

@media (max-width: 576px){
    .artw{
        flex-direction: column;  
    }
}


.works{
    display: flex;
    padding: 80px 0px 160px 0px
}

.sectBig{
    width: 100%;
    justify-items: center;  
}


.sectB{
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-top: 72px;
}

.sectB__banner{
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    background-color: #024269;
    width: 100%;
    height: 193px;

}

@media (max-width: 576px){
    .sectB__banner{
        width: 360px;
        height: 104px;
    
    }
    .sectB__banner__img{
        width: 328px;
        height: 48px;
    }

}

.format{
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;   
}

@media (max-width: 576px){
    .format{ 
        width: 100%;     
    }
}

.format__cont{
    display: flex;
    background-color: #024269;
    width: 530px;
    height: 330px;
    border-radius: 8px;
    padding: 20px;    
}

@media (max-width: 576px){
    .format__cont{
        display: flex;        
        width: 150px;
        height: 100px;
        border-radius: 6px;
        padding: 8px;
        flex-wrap: wrap;    
    }
    
}

@media (max-width: 576px){
    ul{    
        font-size: 12px;
    }
}

.interest{
    display: flex;
    margin: 80 0 80 0px;
    justify-content: center;
}

.interest__cont{
    background-color: #024269;
    height: 320px;
    width: 600px;
    border-radius: 8px;
    padding: 20px;
    margin: 72px;
}

@media (max-width: 576px){
    .interest__cont{
        height: 130px;
        width: 150px;
        border-radius: 6px;
        padding: 8px;
        margin: 20px;
    }
}

.label{
    display: flex;
}

.title__desc{
    display: grid;
    grid-column: 1/12;
    width: 1300px;
    height: 260px;   
}

.title2{
    width: 1300px;
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

img{
    display: flex;
    flex-direction: row;
}


.about{
    display: flex;
    height: 620;
    width: 80%;
    background-color: #01426A;
    border-radius: 8px;
    padding: 20;
    margin: 60px 0 60px 0;
}

.video__link{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 60px; 
}

.formulary{
    display: flex;
    align-items: center;
    justify-content: center;
}

input{
    display: flex;
    width: 1260px;
}

textarea{
    display: flex;
    width: 1260px;
    height: 395px;
}

/* MEDIA QUERIES SMARTPHONE*/

@media (max-width: 576px){       
    body{        
        grid-template-columns: repeat(4, 72px);
        grid-column-gap: 8px;
        grid-template-rows: 40px auto 76px;
        padding: 0;
        margin: 16px;
        grid-template-areas:
        "header header header header"
        "main main main main"
        "footer footer footer footer"       
        ;   
    }

    header{
        height:"auto";
    }
    main{
        .sectA__1, .sectA__2, .SectA__2__profile, .sectA__1__paragraph{
            display: flex;
            flex-wrap: wrap;
            width: 150px;             
        }

    }
    
    footer{
        grid-area: footer;    
    }
}


