/*PAGINAS RESPONSIVE DESARROLLADAS: INDEX/UXUIDESIGN*/

@font-face{
    font-family: lato;
    src: url(../font/Lato/Lato-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100vh;        
    background-color: #1b1a33;
}

#grid-container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 72px auto 160px;
    grid-gap: 20px;
    display: grid;
    grid-template-areas:
        "header header header header header header header header header header header header"
        "main main main main main main main main main main main main"
        "footer footer footer footer footer footer footer footer footer footer footer footer"            
}

header{
    width: 100%;
    grid-area: header;

}

main{
    grid-area: main;
}


nav{
    grid-area: nav;
    height: 72px;
    width: auto;   
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;    
}

.navbar{
    background-color: #CE4656 !important; 
}

footer{

    grid-area: footer;
    background-color: #000;
    padding: 2rem;     
}

#rights{
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}



h1{
    color: #DD357D;
    text-align: center;
    font-family: Oswald;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;    
    flex-direction: row;
    flex-shrink: 0;   
}

h2{
    color: #DC347C;
    padding: 2rem;
    text-align: center;
    font-family: Oswald;
    font-size: 4rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

h3{
    color: #219CF9;
    font-family: Oswald;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

p{
    color: #219CF9;
    font-family: Lato;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/*Index Style*/

.tittle{
    display: flex;
    width: 100%px;
    height: 250px;
    padding: 130px 70px 0 70px;
}

.resume{
    display: flex;
    margin: 160px 0px 160px 0px;
    padding: 0 120px;
    border: 0;
    width: 100%;
    height: 490px;
    justify-content: space-between;
    align-items: center;          
}

.container-resume1, .paragraph{
    order: 1;
    width: 470px;
}

.container-resume2, img{
    order: 2;
    width: 470px;
}

.sectA__1__subtitle{
    width: 530px;
    height: fit-content;
}


.sectA__1__paragraph{    
    width: 530px;
    height: 390px;
}

.expla{
    font-size: 24px;
    height: 490px;
    width: 420px;
}


.sectBig{
    width: 100%;
    justify-items: center;  
}


.skills{
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-top: 72px;
    flex-direction: column;
}

.sectB__banner{
    justify-content: space-evenly;
    align-content: center;
    background-color: #024269;
    width: 100%;
    height: 192px;
    padding: 50px 240px 50px 240px;

}

#skillsIcons{
    width: 972px;
    height: 90px;
}

form{
    width: auto;
}

ul{
    color: white;
    font-family: lato;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;    
}

.artw{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    padding: 70px;   
}


.works{
    display: flex;
}

.uxuiproyect{
    display: flex;
    padding: 48px 70px;

}

.uxuiproyect__1{
    display:flex
}

.uxuicapture{
    width: 750px;
    height: auto;
}

.academic{
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding: 120px;   
}

@media (max-width: 576px){
    .academic{ 
        width: 100%;
        padding: 6px;     
    }
}

.container-formation{
    display: flex;
    background-color: #024269;
    width: 470px;
    height: 330px;
    border-radius: 8px;
    padding: 20px;    
}

@media (max-width: 576px){
    ul{    
        font-size: 12px;
    }
}

.interest{
    display: flex;
    margin: 80 0 80 0px;
    justify-content: center;
}

.hobbies{
    background-color: #024269;
    height: 320px;
    width: 600px;
    border-radius: 8px;
    padding: 20px;
    margin: 72px;
}


.label{
    display: flex;
}

.title__desc{
    display: grid;
    grid-column: 1/12;
    width: 1300px;
    height: 260px;   
}

.title2{
    width: 1300px;
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

img{
    display: flex;
    flex-direction: row;
}


.about{
    display: flex;
    height: 620;
    width: 80%;
    background-color: #01426A;
    border-radius: 8px;
    padding: 20;
    margin: 60px 0 60px 0;
}

.video__link{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 60px; 
}

.formulary{
    display: flex;
    align-items: center;
    justify-content: center;
}

input{
    display: flex;
    width: 1260px;
}

textarea{
    display: flex;
    width: 1260px;
    height: 395px;
}

/* MEDIA QUERIES SMARTPHONE*/

@media (max-width: 576px){ 

    #grid-container{        
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 40px auto 76px;
        column-gap: 8px;
        grid-template-areas:
            "header header header header"
            "main main main main"
            "footer footer footer footer"       
        ;         
                    
    }

    header{
        height:"auto";
    }

    main{
        .sectA__1, .sectA__2, .SectA__2__profile, .sectA__1__paragraph{
            display: flex;
            flex-wrap: wrap;
            width: 150px;             
        }
    }
    
    footer{
        grid-area: footer;
        padding: 1rem;    
    }

    
    h1{
        padding-top: 24px;
        font-size: 24px;  
    } 

    h2{
        padding: 0.5rem;
        font-size: 20px;
    }

    h3{
        font-size: 16px;  
    } 

    
    p{
        font-size: 12px;  
    }


}

 

@media (max-width: 576px){

    /*index*/

    .resume{
        margin: 16px 0px 16px 0px;
        padding: 0 20px;
        width: 100%;
        height: 137px;             
    }
    
    .container-resume1, .paragraph, .container-resume2, .profile{
        width: 142px;
    }


    .hobbies{
        height: 130px;
        width: 150px;
        border-radius: 6px;
        padding: 8px;
        margin: 20px;
    }

    .container-formation{        
        width: 150px;
        height: 100px;
        border-radius: 6px;
        padding: 8px;
        flex-wrap: wrap;    
    }

    .sectA__1__subtitle{    
        width: 150px;
    }

    .sectA__1__paragraph{    
        width: 150px;
        height: auto;
    }

    .expla{
        font-size: 12px;
        height: 276px;
        width: 150px;
    }

    .artw{
        flex-direction: column;
        padding: 10px;  
    }

    .sectB__banner{
        width: 320px;
        height: 81px;
        flex-wrap: wrap;
        padding: 50px 0 50px 0;   
    }

    #skillsIcons{
        width: 260px;
        height: 38px;
        padding: 25px 120px 25px 120px;
    } 

    /*artworks*/

    .works{
        display: flex;
        margin-bottom: 2rem;
    }  
    
}