h1{
    color: #DD357D;
    text-align: center;
    font-family: Oswald;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;    
    flex-direction: row;
    flex-shrink: 0;  
    @include mobile (){
        padding-top: 24px;
        font-size: 24px;  
    }
    @include tablet(){
        font-size: 72px;
    } 
}

h2{
    color: #DC347C;
    padding: 2rem;
    text-align: center;
    font-family: Oswald;
    font-size: 4rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    @include mobile(){
        padding: 0.5rem;
        font-size: 20px;
    }
    @include tablet(){
        font-size: 2rem;
    }
    @include laptopmini(){
        font-size: 3rem;
    }
}

h3{
    color: $color-primary;
    font-family: Oswald;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    @include mobile(){
        font-size: 1rem;
    }
    @include tablet(){
        font-size: 2rem;
    }
}

p{
    color: #219CF9;
    font-family: Lato;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    @include mobile(){
        font-size: 12px;  
    }
}

img{
    display: flex;
    flex-direction: row;
}

ul{
    color: white;
    font-family: lato;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    list-style: square;
    @include mobile(){
        font-size: 12px;
    }
    @include tablet(){
        font-size: 1rem;
    }    
}