.sectBig{
    width: 100%;
    justify-items: center;
    .about{
        display: flex;
        height: 620;
        width: 83%;
        background-color: #01426A;
        padding: 2rem;
        margin: 124px;
        @include mobile(){
            padding: 1rem;
            margin: 25px;
            height: 360px;
        }
        @include tablet(){
            margin: 100px;
            width: 74%;
            height: 680px;
        }
        @include laptopmini(){
            margin: 89px;
        }
        .description{
            color: white;
            @include tablet(){
                font-size: 2rem;
            }
        }

    }  
}