.sectBig{
    width: 100%;
    justify-items: center;
    .about{
        display: flex;
        height: 620;
        width: 83%;
        background-color: #01426A;
        border-radius: 8px;
        padding: 20;
        margin: 124px;
    }  
}