.artw{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    padding: 70px 0;
    @include mobile(){
        flex-direction: column;
        padding: 10px;
    }
    @include tablet(){
        flex-direction: column;
    }
    .works{
        display: flex;
        padding: 10px;
        @include mobile(){
            display: flex;
            margin-bottom: 0.5rem;
            height: 460px;
            width: 300px;
        }
        @include tablet(){
            width: 50%;
            margin: auto;
        }
    }   
}