
.contactme{
    .contact-description{
        text-align: center;
    }
    .formulary{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        margin: 48px 0;                     
        .contact-form{
            display: flex;
            flex-direction: column;
            align-items: center;
            label{
                display: flex;
                color: $color-primary;
                font-size: 2rem;
                font-family: $typography-paragraphs;
                @include mobile(){
                    font-size: 1rem;
                }
                @include tablet(){
                    font-size: 1rem;
                }
            } 
            input{
                border-radius: 0.5rem;
                display: flex;                
                margin: 20px;
                width: 1198px;
                padding: 1rem;
                height: 32px;
                @include mobile(){
                    width: 300px;
                    margin: 10px;
                }
                @include tablet(){
                    width: 640px;
                    margin: 10px;                    
                }
            }        
            textarea{
                border-radius: 0.5rem;
                display: flex;
                padding: 1rem;
                width: 1198px;
                height: 420px;
                margin-bottom: 30px;
                @include mobile(){
                    width: 300px;
                }
                @include tablet(){
                    width: 640px;
                }
            }
            .button-primary{
                display: flex;
                color: white;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                padding: 12px;
                margin: auto;
                border-radius: 8px;
                width: 228px;
                font-family: $typography-paragraphs;
                font-weight: bold;
                background-color: $color-primary;
            }
        }
        
            
    }

}
