.tittle{
    display: flex;
    width: 100%px;
    height: 250px;
    padding: 130px 70px 0 70px;
}

.social-links{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 100px;
    @include mobile(){
        margin: 10px;
    }
    @include tablet(){
        margin: 45px;
    }
    a{
        width: 80px;
        height: 80px;
        text-align: center;
        text-decoration: none;
        color: $color-secondary;
        box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.05);
        margin: 0  30px;
        border-radius: 50%;
        position: relative;
        overflow: hidden;       

        .fa-brands{
            font-size: 30px;
            line-height: 80px;
            position: relative;
            z-index: 10;
            transition: color 0.5s;
        }
    }
    a::after{
        content: '';
        width: 100%;
        height: 100%;
        top: -90px;
        left: 0;
        background: linear-gradient(-45deg, $color-primary, $color-tertiary);
        position: absolute;
        transition: 0.5s;
    }
    a:hover::after{
        top: 0;
    }
    a:hover{
        .fa-brands{
            color: white;
        }
    }
    
}

.resume{
        display: flex;
        margin: 80px 0px;
        padding: 0 120px;
        border: 0;
        width: 100%;
        height: 490px;
        justify-content: space-between;
        align-items: center;
        @include mobile (){
            margin: 16px 0px;
            padding: 0 20px;
            width: 100%;
            height: 137px;
        }
        @include tablet (){
            margin: 80px 0;
            height: 280px;
        }          
        .container-resume1{
            order: 1;
            width: 470px;
            @include mobile(){
                width: 142px;
                height: auto;
            }
            @include tablet(){
                width: 280px;
                height: auto;
            }
            .paragraph{
                order: 1;
                width: 470px;
                @include mobile(){
                    width: 142px;
                    height: auto;
                }
                @include tablet(){
                    width: 280px;
                    height: auto;
                    font-size: 1rem;
                }
            }
        }
        .container-resume2{
            order: 2;
            width: 470px;
            @include mobile(){
                width: 142px;
                height: auto;
            }
            @include tablet(){
                width: 280px;
                height: auto;
            }
            img{
                order: 2;
                width: 470px;
                @include mobile(){
                    width: 142px;
                    height: auto;
                }
                @include tablet(){
                    width: 280px;
                    height: auto;
                }
            }
        }
    
}

.academic{
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding: 120px;
    @include mobile(){
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 6px;
    }
    @include tablet(){
        padding: 30px 98px;
    }
    .container-formation{
        display: flex;
        background-color: #024269;
        width: 470px;
        height: 330px;
        border-radius: 8px;
        padding: 20px;
        @include mobile(){
            width: 172px;
            height: 148px;
            border-radius: 6px;
            padding: 8px;
            margin: 10px;
                       
        }
        @include tablet(){
            width: 278px;
            height: 200px;
        }    
    }

}

.skills{
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-top: 72px;
    flex-direction: column;
    @include mobile(){
        margin-top: 48px;
    }
    .sectB__banner{
        justify-content: space-evenly;
        align-content: center;
        background-color: #024269;
        width: 100%;
        height: 192px;
        padding: 50px 240px;
        @include mobile(){
            width: 320px;
            height: 81px;
            flex-wrap: wrap;
            padding: 25px;         
        }
        @include tablet(){
            padding: 50px 30px;
        }
        #skillsIcons{
        width: 972px;
        height: 90px;
        @include mobile(){
            width: 260px;
            height: 25px;
            padding: 0
        }
        @include tablet(){
            width: 720px;
            height: 72px;        
        }
        }
            
    }
}

.interest{
    display: flex;
    margin: 80 0 80 0px;
    justify-content: center;
    .hobbies{
        background-color: #024269;
        height: 320px;
        width: 600px;
        border-radius: 8px;
        padding: 20px;
        margin: 72px;
        @include mobile(){
            height: 130px;
            width: 150px;
            border-radius: 6px;
            padding: 8px;
            margin: 20px;
        }
        @include tablet(){
            height: 240px;
            width: 372px;
        }
    }
}

.video{
    .video__link{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 60px; 
    }
}
    

.sectA__1__subtitle{
    width: 530px;
    height: fit-content;
}


.sectA__1__paragraph{    
    width: 530px;
    height: 390px;
}

.expla{
    font-size: 24px;
    height: 490px;
    width: 420px;
}