.tittle{
    display: flex;
    width: 100%px;
    height: 250px;
    padding: 130px 70px 0 70px;
}

.resume{
        display: flex;
        margin: 160px 0px 160px 0px;
        padding: 0 120px;
        border: 0;
        width: 100%;
        height: 490px;
        justify-content: space-between;
        align-items: center;
        @include mobile (){
            margin: 16px 0px 16px 0px;
            padding: 0 20px;
            width: 100%;
            height: 137px;
        }          
        .container-resume1{
            order: 1;
            width: 470px;
            @include mobile(){
                width: 142px;
            }
            .paragraph{
                order: 1;
                width: 470px;
                @include mobile(){
                    width: 142px;
                }
            }
        }
        .container-resume2{
            order: 2;
            width: 470px;
            @include mobile(){
                width: 142px;
            }
            img{
                order: 2;
                width: 470px;
                @include mobile(){
                    width: 142px;
                }
            }
        }
    
}

.academic{
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding: 120px;
    @include mobile(){
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 6px;
    }
    .container-formation{
        display: flex;
        background-color: #024269;
        width: 470px;
        height: 330px;
        border-radius: 8px;
        padding: 20px;
        @include mobile(){
            width: 172px;
            height: 148px;
            border-radius: 6px;
            padding: 8px;
            margin: 10px;
                       
        }    
    }

}

.skills{
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-top: 72px;
    flex-direction: column;
    @include mobile(){
        margin-top: 48px;
    }
    .sectB__banner{
        justify-content: space-evenly;
        align-content: center;
        background-color: #024269;
        width: 100%;
        height: 192px;
        padding: 50px 240px;
        @include mobile(){
            width: 320px;
            height: 81px;
            flex-wrap: wrap;
            padding: 25px; 
        }
        #skillsIcons{
        width: 972px;
        height: 90px;
        @include mobile(){
            width: 260px;
            height: 25px;
            padding: 0
        }
        }    
    }
}

.interest{
    display: flex;
    margin: 80 0 80 0px;
    justify-content: center;
    .hobbies{
        background-color: #024269;
        height: 320px;
        width: 600px;
        border-radius: 8px;
        padding: 20px;
        margin: 72px;
        @include mobile(){
            height: 130px;
            width: 150px;
            border-radius: 6px;
            padding: 8px;
            margin: 20px;
        }
    }
}

.video{
    .video__link{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 60px; 
    }
}
    

.sectA__1__subtitle{
    width: 530px;
    height: fit-content;
}


.sectA__1__paragraph{    
    width: 530px;
    height: 390px;
}

.expla{
    font-size: 24px;
    height: 490px;
    width: 420px;
}










