.uxuiproyect{
    display: flex;
    padding: 48px 70px;
    justify-content: space-around;
    @include mobile(){
        flex-direction: column;
        padding: 20px;        
    }
    .container-uxuiproject{
        display:flex;
        @include mobile(){        
            flex-direction: column;
            flex-wrap: wrap;
            align-content: center;        
        }
    }
    
    .paragraph2{
        display: flex;
        width: 490px;
        @include mobile(){        
            width: 280px;
        }
    }
    .uxuicapture{
        width: 750px;
        height: auto;
        @include mobile(){
            width: 280px;
            height: auto;
        }
    }
}

.uxuiproyect2{
    display: flex;
    padding: 48px 70px;
    justify-content: space-around;
    @include mobile(){
        flex-direction: column;
        padding: 20px;        
    }
}