.uxuiproyect{
    display: flex;
    padding: 48px 70px;
    justify-content: space-around;
    @include mobile(){
        flex-direction: column;
        padding: 20px;
        flex-wrap: wrap;
        align-content: center;                
    }

    .container-uxuiproject{
        display:flex;
        @include mobile(){        
            flex-direction: column;
            flex-wrap: wrap;
            align-content: center;        
        }
        @include tablet(){        
            flex-direction: column;
            flex-wrap: wrap;
            align-content: center;        
        }
    }
    
    .paragraph2{
        display: flex;
        width: 490px;
        font-size: 2rem;
        @include mobile(){        
            width: 280px;
            height: auto;
            font-size: 1rem;
        }
        @include tablet(){
            width: 260px;
            height: 300px;
            font-size: 1rem;
            margin-right: 20px;
        }
    }
    .uxuicapture{
        width: 750px;
        height: 489px;
        @include mobile(){
            width: 280px;
            height: auto;
        }
        @include tablet(){
            width: 460px;
            height: 300px;
        }
    }
}

.uxuipro2{
    display: flex;
    padding: 48px 70px;
    justify-content: space-around;
    align-items: center;
    @include mobile(){
        flex-direction: column;
        padding: 20px;        
    }
    }
    .container-uxuipro2{
        display:flex;
        flex-wrap: wrap;
        flex-direction: column;
        @include mobile(){        
            flex-direction: column;
            flex-wrap: wrap;
            align-content: center;        
        }
        @include tablet(){        
            flex-direction: column;
            flex-wrap: wrap;
            align-content: center;        
        }
    }
    
    .paragraph3{
        display: flex;
        width: 490px;
        font-size: 2rem;
        @include mobile(){        
            width: 280px;
            height: auto;
            font-size: 1rem;
        }
        @include tablet(){
            width: 260px;
            height: 300px;
            font-size: 1rem;
            margin-right: 20px;
        }
    }
    .uxuicap2{
        width: 750px;
        height: 489px;
        @include mobile(){
            width: 280px;
            height: auto;
        }
        @include tablet(){
            width: 460px;
            height: 300px;
        }
 }
