
.uxuiproyect{
    display: flex;
    padding: 48px 70px;
    justify-content: space-around;
    .container-uxuiproject{
        display:flex;
    }
    .paragraph2{
        display: flex;
        width: 490px;
    }
    .uxuicapture{
        width: 750px;
        height: auto;
    }
}

.uxuiproyect2{
    display: flex;
    padding: 48px 70px;
    justify-content: space-around;
}