footer{

    grid-area: footer;
    background-color: #000;
    padding: 2rem;
    #rights{
        color: #FFF;
        text-align: center;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }     
}
